<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- header -->
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>
        <!-- Main -->
        <main>
            <div class="error404">
                <div class="error404-wrapper">
                    <h1>Error 404:</h1>
                    <p>Oops! Page Not Found.</p>
                </div>
            </div>
        </main>
        <!-- footer -->
        <%- include('./partials/footer.ejs')%>
    </div>
</body>
</html>