<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- header -->
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>
        <!-- Main -->
        <main>
            <div class="about">
                <div class="about-col-1">
                    <div class="welcome-wrapper">
                        <h1>About Us</h1>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi necessitatibus excepturi voluptas consequatur ipsa ullam soluta quaerat consectetur architecto quam quidem nihil quo id, in voluptates delectus quisquam, quos maxime!
                            Aliquid molestiae quasi laboriosam quibusdam? Excepturi, nemo. Iure voluptatem alias expedita. Dolore velit voluptate at dolorum! Velit eaque, cupiditate harum pariatur inventore at expedita error, temporibus voluptas, aliquid minus saepe!
                            Eius voluptatibus facere optio qui pariatur totam quo quisquam vel esse quam sapiente earum mollitia eos vitae laboriosam numquam deleniti nobis dolores nam distinctio, odit incidunt eligendi molestias? Quas, nostrum.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="about-col-2">
                    <img class="site-bg-img" src="/imgstudents.png" alt="imgstudents">
                </div>
            </div>
        </main>
        <!-- footer -->
        <%- include('./partials/footer.ejs')%>
    </div>
</body>
</html>