<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- header -->
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>
        <!-- Main -->
        <main>
            <div class="register">
                <div class="register-wrapper">
                    <h2 class="title">Registration</h2>
                    <form>
                        <label for="fullname">Student Name:</label>
                        <input type="text" id="fullname" name="fullname" required>
                        <br>
                        <label for="yearLevel">Year Level:</label>
                        <input type="text" id="yearLevel" name="yearLevel" required>
                        <br>
                        <label for="course">Course:</label>
                        <input type="text" id="course" name="course" required>
                        <br>
                        <div class="submit-wrapper">
                            <input type="button" value="Submit" id="btnInsert">
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- footer -->
        <%- include('./partials/footer.ejs')%>
    </div>
    <script src="/insert.js"></script>
</body>
</html>